@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

.map-form-container {
  margin-bottom: 200px; /* Ajoute de l'espace en bas du conteneur */
}

.small-map {
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  width: 100%;
}

.iframe {
  height: 150px;
  width: 100%; /* Utilisation de 100% pour s'assurer qu'il s'adapte correctement */
}

h1 {
  color: $blue;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
  text-align: center;
}

p {
  color: $blue;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
  text-align: center;
}
